html{
    background-color: aliceblue;
}

h3{
    text-align: center;
}

.grid-container {
    padding: 10px;
    border: 20px solid rgb(147, 250, 245);
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.6fr 1.4fr 2.5fr;
    gap: 0px 0px;
    grid-template-areas:
      ". header ."
      ". form ."
      ". . .";
  }
  .header { grid-area: header; }
  .form { 
      padding: 10px;
      margin: 20px;
      margin-top: 10px;
    border: 5px solid rgb(184, 198, 204);  
    grid-area: form; }